@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {

 
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body,
#root {
  font-family: 'Roboto';
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
 
}



button {
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: 'Roboto';
  background-color: #2E2E2E;
  cursor: pointer;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
 
  button {
    background-color: #f9f9f9;
  }
 }
 
@tailwind base;
@tailwind components;
@tailwind utilities;


button, input, optgroup, select, textarea {
  font-family: 'Roboto', sans-serif !important;
}
.p-dropdown {
  background-color: #444 !important;
  color: #fff !important;
  border: none !important;
}

.p-dropdown-panel {
  background-color: #444 !important;
  color: #fff !important;
}

.p-dropdown-item {
  background-color: #444 !important;
  color: #fff !important;
}

.p-dropdown-item:hover {
  background-color: #555 !important;
  color: #fff !important;
}
